main{
    display: grid;
    grid-template-areas: 
    'ar as';
}

article{
    grid-area: ar;
}

aside{
    grid-area: as;
}

table, tr, td, th{
    border-collapse: collapse;
    border: 3px black double;
    padding: 5px;
    text-align: center;
}